# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd
.Python
*.egg
*.egg-info/
dist/
build/

# Django
*.log
db.sqlite3
media/
staticfiles/

# Environment
.env
.env.*
!.env.example
venv/
env/
.venv/

# PyCharm
.idea/
*.iml
*.iws
*.ipr
.idea/workspace.xml
.idea/tasks.xml
.idea/shelf/
.idea/dictionaries/
.idea/vcs.xml

# OS
.DS_Store
Thumbs.db