<nav class="navbar navbar-expand-lg px-3 shadow-sm custom-navbar">
    <div class="container">
        <a class="navbar-brand fw-bold" href="{% url 'home' %}">
            <span style="color:#e6a817;">ORGVEIN</span>
        </a>

        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#mainNav">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="mainNav">
            <ul class="navbar-nav ms-auto">

                <li class="nav-item">
                    <a class="nav-link text-dark" href="{% url 'home' %}">Home</a>
                </li>

                <li class="nav-item">
                    <a class="nav-link text-dark" href="#">About</a>
                </li>

                <li class="nav-item">
                    <a class="nav-link text-dark" href="#">Service</a>
                </li>

                <li class="nav-item">
                    <a class="nav-link text-dark" href="#">Blog</a>
                </li>

            </ul>
        </div>
    </div>
</nav>