{% load static %}
<link rel="stylesheet" href="{% static 'css/navbar.css' %}">
<nav class="navbar navbar-expand-lg custom-navbar2">
  <div class="container">

    <a class="navbar-brand brand2" href="{% url 'home' %}">
      ORGVEIN</span>
    </a>

    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#mainNav"
      style="border-color: rgba(230,168,23,0.4);">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="mainNav">
      <ul class="navbar-nav ms-auto align-items-center">
        <li class="nav-item"><a class="nav-link nav2-link active" href="{% url 'home' %}">Home</a></li>
        <li class="nav-item"><a class="nav-link nav2-link" href="#">About</a></li>
        <li class="nav-item"><a class="nav-link nav2-link" href="#">Services</a></li>
        <li class="nav-item"><a class="nav-link nav2-link" href="#">Blog</a></li>
        <div class="nav2-divider d-none d-lg-block"></div>
        <li class="nav-item">
          <a class="nav-link nav2-cta" href="#diagnosis">Diagnose →</a>
        </li>
      </ul>
    </div>
  </div>
</nav>